name: Deploy React + vite to to github pages

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v3

        # Install Node
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

        # Install dependencies
      - name: Install dependencies
        run: npm install

        # Build
      - name: Build
        run: npm run build

        # Deploy
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
